{% extends 'baseFront.html.twig' %}

{% block title %}Home!{% endblock %}

{% block contentblock %}
    <section id="hero" class="d-flex align-items-center">
    <div class="container position-relative" data-aos="fade-up" data-aos-delay="500">
      <h1>Welcome to Freelancy {% if app.user %} {{ app.user.name }} ! {% endif %} </h1>
      <a href="#about" class="btn-get-started scrollto">Get Started</a>
    </div>
  </section>
{% endblock %}
